<p id="notice"><%= notice %></p>

<p>
  <strong>Id usuario:</strong>
  <%= @crium.id_usuario %>
</p>

<p>
  <strong>Id sabre:</strong>
  <%= @crium.id_sabre %>
</p>

<%= link_to 'Edit', edit_crium_path(@crium) %> |
<%= link_to 'Back', cria_path %>
