<p id="notice"><%= notice %></p>

<h1>Padawans</h1>

<table>
  <thead>
    <tr>
      <th>Cod padawan</th>
      <th>Id usuario j</th>
      <th>Nome pad</th>
      <th>Idade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @padawans.each do |padawan| %>
      <tr>
        <td><%= padawan.cod_padawan %></td>
        <td><%= padawan.id_usuario_j %></td>
        <td><%= padawan.nome_pad %></td>
        <td><%= padawan.idade %></td>
        <td><%= link_to 'Show', padawan %></td>
        <td><%= link_to 'Edit', edit_padawan_path(padawan) %></td>
        <td><%= link_to 'Destroy', padawan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Padawan', new_padawan_path %>
<%= link_to 'voltar', root_path %>
