<p id="notice"><%= notice %></p>

<h1>Responsavels</h1>

<table>
  <thead>
    <tr>
      <th>Cod padawan</th>
      <th>Nome</th>
      <th>Planeta origem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responsavels.each do |responsavel| %>
      <tr>
        <td><%= responsavel.cod_padawan %></td>
        <td><%= responsavel.nome %></td>
        <td><%= responsavel.planeta_origem %></td>
        <td><%= link_to 'Show', responsavel %></td>
        <td><%= link_to 'Edit', edit_responsavel_path(responsavel) %></td>
        <td><%= link_to 'Destroy', responsavel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Responsavel', new_responsavel_path %>
<%= link_to 'voltar', root_path %>
