<p id="notice"><%= notice %></p>

<p>
  <strong>Id fabricacao:</strong>
  <%= @utility_droid.id_fabricacao %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @utility_droid.especialidade %>
</p>

<%= link_to 'Edit', edit_utility_droid_path(@utility_droid) %> |
<%= link_to 'Back', utility_droids_path %>
