<p id="notice"><%= notice %></p>

<p>
  <strong>Id usuario:</strong>
  <%= @sith.id_usuario %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @sith.funcao %>
</p>

<%= link_to 'Edit', edit_sith_path(@sith) %> |
<%= link_to 'Back', siths_path %>
