<p id="notice"><%= notice %></p>

<p>
  <strong>Id usuario:</strong>
  <%= @utiliza.id_usuario %>
</p>

<p>
  <strong>Id fabricacao:</strong>
  <%= @utiliza.id_fabricacao %>
</p>

<%= link_to 'Edit', edit_utiliza_path(@utiliza) %> |
<%= link_to 'Back', utilizas_path %>
