<p id="notice"><%= notice %></p>

<p>
  <strong>Id usuario m:</strong>
  <%= @aprendiz.id_usuario_m %>
</p>

<p>
  <strong>Id usuario a:</strong>
  <%= @aprendiz.id_usuario_a %>
</p>

<%= link_to 'Edit', edit_aprendiz_path(@aprendiz) %> |
<%= link_to 'Back', aprendizs_path %>
