<p id="notice"><%= notice %></p>

<p>
  <strong>Id usuario:</strong>
  <%= @usa.id_usuario %>
</p>

<p>
  <strong>Id fabricacao:</strong>
  <%= @usa.id_fabricacao %>
</p>

<%= link_to 'Edit', edit_usa_path(@usa) %> |
<%= link_to 'Back', usas_path %>
