<p id="notice"><%= notice %></p>

<h1>Battle Droids</h1>

<table>
  <thead>
    <tr>
      <th>Id fabricacao</th>
      <th>Tipo arma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @battle_droids.each do |battle_droid| %>
      <tr>
        <td><%= battle_droid.id_fabricacao %></td>
        <td><%= battle_droid.tipo_arma %></td>
        <td><%= link_to 'Show', battle_droid %></td>
        <td><%= link_to 'Edit', edit_battle_droid_path(battle_droid) %></td>
        <td><%= link_to 'Destroy', battle_droid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Battle Droid', new_battle_droid_path %>
<%= link_to 'voltar', root_path %>
