<p id="notice"><%= notice %></p>

<p>
  <strong>N comunicador:</strong>
  <%= @num_comunicador.n_comunicador %>
</p>

<p>
  <strong>Id usuario:</strong>
  <%= @num_comunicador.id_usuario %>
</p>

<%= link_to 'Edit', edit_num_comunicador_path(@num_comunicador) %> |
<%= link_to 'Back', num_comunicadors_path %>
