<p id="notice"><%= notice %></p>

<p>
  <strong>Id sabre:</strong>
  <%= @sabre_de_luz.id_sabre %>
</p>

<p>
  <strong>Cristal:</strong>
  <%= @sabre_de_luz.cristal %>
</p>

<p>
  <strong>Local origem:</strong>
  <%= @sabre_de_luz.local_origem %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @sabre_de_luz.cor %>
</p>

<p>
  <strong>Data criacao:</strong>
  <%= @sabre_de_luz.data_criacao %>
</p>

<%= link_to 'Edit', edit_sabre_de_luz_path(@sabre_de_luz) %> |
<%= link_to 'Back', sabre_de_luzs_path %>
