<p id="notice"><%= notice %></p>

<p>
  <strong>Id usuario m sith:</strong>
  <%= @foi.id_usuario_m_sith %>
</p>

<p>
  <strong>Id usuario j:</strong>
  <%= @foi.id_usuario_j %>
</p>

<%= link_to 'Edit', edit_foi_path(@foi) %> |
<%= link_to 'Back', fois_path %>
