<p id="notice"><%= notice %></p>

<p>
  <strong>Id usuario j:</strong>
  <%= @testa_e_testado.id_usuario_j %>
</p>

<p>
  <strong>Id templo:</strong>
  <%= @testa_e_testado.id_templo %>
</p>

<p>
  <strong>Cod padawan:</strong>
  <%= @testa_e_testado.cod_padawan %>
</p>

<p>
  <strong>Resultado:</strong>
  <%= @testa_e_testado.resultado %>
</p>

<p>
  <strong>Data teste:</strong>
  <%= @testa_e_testado.data_teste %>
</p>

<%= link_to 'Edit', edit_testa_e_testado_path(@testa_e_testado) %> |
<%= link_to 'Back', testa_e_testados_path %>
